.imageContainer {
  background: lightgrey;
  text-align: center;
}
.launchDetailContainer {
  padding: 10px;
}
.missionName {
  color: blue;
  font-weight: bold;
}
.missionText {
  font-weight: bold;
}